@import "tailwindcss";

@theme {
  /* Core colors */
  --color-background: #14110F;
  --color-surface: #FCC873;
  --color-surface-lighter: #FDD79B;
  
  /* Game specific */
  --color-primary: #FBB13C ;
  --color-primary-hover: #FCC873;
  --color-success: #09E85E;       
  --color-error: #F21B3F;
  --color-warning: #7E7F9A;
  
  /* Text */
  --color-onSurface: #E3E1DE;
  --color-onSurfaceDark: #14110F;
  --color-text-muted: #706C61;
  
  /* Borders */
  --color-border: #706C6130;
}

body {
  background: var(--color-background);
  color: var(--color-onSurface);
}

@layer base {
  h1 {
    font-size: clamp(1.75rem,6vw,2.5rem);
    @apply font-bold tracking-tight;
  }
  h2 {
    font-size: clamp(1.5rem,5vw,1.8rem);
    @apply font-semibold;
  }
  h3 {
    font-size: clamp(1.25rem,4.5vw,1.75rem);
    @apply font-semibold;
  }
  h4 {
    font-size: clamp(1.125rem,4vw,1.5rem);
    @apply font-medium;
  }
  h5 {
    font-size: clamp(1.1rem,3.5vw,1.25rem);
    @apply font-medium;
  }
  p {
    font-size: clamp(1.1rem,3vw,1.1rem);
    @apply leading-relaxed;
  }
  button {
    font-size: clamp(1rem,2vw,1.5rem);
    @apply leading-relaxed;
  }
}